* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
body {
  height: 1000px;
}

img {
  max-width: 100%;
}
.header {
  max-width: 1200px;
  margin: 0 auto;
  height: 100px;
  display: flex;
}
.logo {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  width: 10%;
  height: 100px;
  text-align: center;
  margin-right: 5%;
=======
=======
>>>>>>> parent of 0e8f7db... chinh-sua-header
=======
>>>>>>> parent of dfd7bad... Merge pull request #14 from btoann/baonpg
=======
>>>>>>> parent of dfd7bad... Merge pull request #14 from btoann/baonpg
  width: calc((980px / 12) + 20px);
  height: 60px;
  margin-right: calc((980px / 12) + 20px) ;
}

.logo img {
  display: inline-flexbox;
  height: 100%;
>>>>>>> parent of 0e8f7db... chinh-sua-header
}
.menu {
  width: 90%;
}
.menu-top {
  height: 50%;
  display: flex;
}
.menu-top-list {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  width: 70%;
  font-size: 1rem;
  color: #c5c3c4;
}
.menu-top-login {
  width: 30%;
  text-align: end;
=======
=======
>>>>>>> parent of 0e8f7db... chinh-sua-header
=======
>>>>>>> parent of dfd7bad... Merge pull request #14 from btoann/baonpg
=======
>>>>>>> parent of dfd7bad... Merge pull request #14 from btoann/baonpg
  width: calc(((980px / 12) + 20px)*7);
  height: 15px;
  line-height: 1;
  font-size: 14px;
  color: #c5c3c4;
}

.menu-top-list ul {
  margin-bottom: 25px !important;
}
.menu-top-list li {
  margin-right: 25px;
}

.menu-top-login {
  display: flex;
  width: calc(((980px / 12) + 20px)*3);
  height: 15px;
}
.menu-top-login a {
  display: inline-flex;
  font-size: 14px;
  height: 15px;
  line-height: 1;
>>>>>>> parent of 0e8f7db... chinh-sua-header
}
.menu-login {
  color: #0a4f70;
  font-size: 1.4rem;
  text-decoration: none;
}
<<<<<<< HEAD
.menu-top-login p {
  margin-top: 5%;
}
.menu-bottom {
  height: 50%;
=======

.menu-bottom-category
{
  width: calc(((980px / 12) + 20px)*5);
  display: flex;
}
.menu-bottom-category p{
  display: flex;
  margin: 0;
  height: 20px;
  font-size: 24px;
  line-height: 1;
}
.menu-bottom-category p i{
>>>>>>> parent of 0e8f7db... chinh-sua-header
  display: flex;
  color: #0a4f70;
}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
.menu-bottom-category {
  width: 20%;
}
.menu-bottom-search {
  width: 70%;
=======
=======
>>>>>>> parent of 0e8f7db... chinh-sua-header
=======
>>>>>>> parent of dfd7bad... Merge pull request #14 from btoann/baonpg
=======
>>>>>>> parent of dfd7bad... Merge pull request #14 from btoann/baonpg

.menu-bottom-search {
  width: calc(((980px / 12) + 20px)*4);
  display: flex;
>>>>>>> parent of 0e8f7db... chinh-sua-header
  text-align: end;
  font-size: 1.4rem;
}
<<<<<<< HEAD
input {
  color: #c5c3c4;
  width: 40%;
  margin-top: 0.5%;
  border: 0;
}
.menu-bottom-cart {
  width: 10%;
  text-align: end;
  font-size: 1.4rem;
=======

.menu-bottom-search input {
  color: #000000;
  width: 280px;
  font-size: 14px;
  margin-top: 0.5%;
  border: 0;
  padding: 2px 0px;
  border-bottom: 1px #0A4F70 solid ;
  outline: none;
}
.menu-bottom-search input:focus {
  outline: none;
  border-bottom: 1px #F04C63 solid;
}

.menu-bottom-cart{
  width: calc((980 / 12) +20px);
  display: flex;
  text-align: end;
  font-size: 22px;
}
.menu-bottom-cart a{
  display: flex;
  text-align: end;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> parent of 0e8f7db... chinh-sua-header
=======
>>>>>>> parent of 0e8f7db... chinh-sua-header
=======
>>>>>>> parent of dfd7bad... Merge pull request #14 from btoann/baonpg
=======
>>>>>>> parent of dfd7bad... Merge pull request #14 from btoann/baonpg
}
.menu-bottom-cart i {
  margin-top: 0.5%;
}
.menu-bottom p {
  font-size: 22px;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  margin-top: 0.5%;
}
.logo img {
  height: 60px;
  margin-top: 20%;
}
ul {
  display: flex;
  margin-top: 2%;
}
li {
  list-style: none;
  margin-right: 3%;
=======
>>>>>>> parent of 0e8f7db... chinh-sua-header
=======
>>>>>>> parent of 0e8f7db... chinh-sua-header
=======
>>>>>>> parent of dfd7bad... Merge pull request #14 from btoann/baonpg
=======
>>>>>>> parent of dfd7bad... Merge pull request #14 from btoann/baonpg
}
.menu-link {
  text-decoration: none;
  color: #c5c3c4;
}
.banner {
  width: 100%;
  height: 450px;
  background-color: #51c5de;
}
.banner-item {
  padding-top: 1.5%;
  max-width: 1200px;
  height: 95%;
  margin: 0 auto;
  display: flex;
}
.banner-left {
  width: 20%;
  background-color: #f8f6f7;
  margin-right: 2%;
}
.banner-right {
  width: 78%;
  background-color: #f8f6f7;
}
.footer-item {
  max-width: 1200px;
  margin: 0 auto;
}
.footer-item-highlights {
  width: 45%;
  background-color: #51c5de;
  margin-top: 2%;
}
h2 {
  color: white;
}
.footer-content {
  width: 90%;
  margin: 0 auto;
  padding-top: 2%;
}
.footer-content-menu {
  width: 90%;
  margin: 0 auto;
  margin-top: 2%;
  display: flex;
}
.footer-content-menu-item {
  width: 23%;
  margin-right: 2%;
  background-color: #f8f6f7;
  margin-bottom: 2%;
  border-radius: 5px;
  text-align: center;
}
.footer-content-menu-item:last-child {
  margin-right: 0;
}
.item-icon {
  margin-top: 10%;
  font-size: 1.8rem;
  color: #51c5de;
}
.item-content {
  font-size: 1rem;
  color: #81a2b3;
  margin-bottom: 10%;
}
