@import "../_style.css";
body {
  height: 1000px;
}
img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none !important;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 0px;
  height: 80px;
  display: flex;
}

.logo {
  width: calc(((980px / 12) * 2) + 20px);
  height: 60px;
  margin-right: 10px;
}

.logo img {
  display: inline-flexbox;
  height: 100%;
}

.menu {
  width: 90%;
}

.menu-top {
  height: 30px;
  display: flex;
}

.menu-top-list {
  width: calc(((980px / 12) * 7) + 140px);
  font-size: 14px;
  color: #c5c3c4;
}
.menu-top-login {
  width: calc(((980px / 12) * 3) + 40px);
  height: 15px;
  line-height: 1;
  font-size: 14px;
  color: #c5c3c4;
}

.menu-top-list ul {
  margin-bottom: 25px !important;
}
.menu-top-list li {
  margin-right: 25px;
  width: fit-content;
}

.menu-top-login {
  display: flex;
  height: 15px;
}
.menu-top-login a {
  display: inline-flex;
  font-size: 14px;
  height: 15px;
  line-height: 1;
}

.menu-bottom {
  height: 20px;
  display: flex;
  color: #0a4f70;
}

.menu-bottom-category
{
  width: calc(((980px / 12) + 20px)*4.7);
  display: flex;
}
.menu-bottom-category p{
  display: flex;
  margin: 0;
  height: 20px;
  font-size: 22px;
  line-height: 1;
}
.menu-bottom-category p i{
  display: flex;
  margin: 0;
  height: 20px;
  font-size: 21px;
}
.menu-bottom-category p i::before {
  width: 20px;
}

.menu-bottom-search {
  width: calc(((980px / 12) * 4) + 80px);
  display: flex;
  text-align: end;
  font-size: 18px;
}

.menu-bottom-search input {
  color: #000000;
  width: 330px;
  font-size: 14px;
  margin-top: 0;
  border: 0;
  padding: 2px 0px;
  border-bottom: 1px #0A4F70 solid ;
  outline: none;
}
.menu-bottom-search input:focus {
  outline: none;
  border-bottom: 1px #F04C63 solid;
}
.menu-bottom-search i {
  display: flex;
  font-size: 18px;
  padding: 2px 1px;
}

.menu-bottom-cart{
  position: relative;
  width: calc(((980px / 12) +20px));
  display: flex;
  text-align: end;
  font-size: 22px;
  z-index: 1000;
}

.menu-bottom-cart a{
  display: flex;
  text-align: end;
  font-size: 22px;
  color: #0a4f70;
}
.menu-bottom-cart a:hover {
  color: #F04C63;
}
.menu-bottom-cart i {
  margin-top: 0.5%;
}
.shopping-cart-number {
  position: absolute;
  display: flex;
  z-index: 999;
  top: 20%;
  left: 105%;
  font-size: 10px;
}

.menu-link {
  text-decoration: none;
  color: #c5c3c4;
}
.banner {
  width: 100%;
  height: 450px;
  background-color: #51c5de;
}
.banner-item {
  padding-top: 1.5%;
  max-width: 1200px;
  height: 95%;
  margin: 0 auto;
  display: flex;
}
.banner-left {
  width: calc(((980px / 12) * 2) + 20px);
  background-color: #f8f6f7;
  margin-right: 10px;
}
.banner-right {
  width: calc(((980px / 12) * 10) + 190px);
  background-color: #f8f6f7;
}
.footer-item {
  max-width: 1200px;
  margin: 0 auto;
}
.footer-item-highlights {
  width: 45%;
  background-color: #51c5de;
  margin-top: 2%;
}
h2 {
  color: white;
}
.footer-content {
  width: 90%;
  margin: 0 auto;
  padding-top: 2%;
}
.footer-content-menu {
  width: 90%;
  margin: 0 auto;
  margin-top: 2%;
  display: flex;
}
.footer-content-menu-item {
  width: 23%;
  margin-right: 2%;
  background-color: #f8f6f7;
  margin-bottom: 2%;
  border-radius: 5px;
  text-align: center;
}
.footer-content-menu-item:last-child {
  margin-right: 0;
}
.item-icon {
  margin-top: 10%;
  font-size: 1.8rem;
  color: #51c5de;
}
.item-content {
  font-size: 1rem;
  color: #81a2b3;
  margin-bottom: 10%;
}

/* Về sản phẩm sale */
.title-product-1 {
  text-align: center;

}

/*footer*/
.footer-banner {
  background-color: black;
  width: 100%;
  min-height: 124px;
  margin: 0 auto;
}

.footer-menu-content {
  background-color: brown;
  width: 1200px;
  margin: 0 auto;
  min-height: 400px;
}

.footer-menu-item ul {
  list-style: none;
  margin-left: 0 !important;
}

