<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
  <link rel="stylesheet" href="../../../css/client/css-fix/style.css">
  <link rel="stylesheet" href="../../../bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../../bootstrap/js/bootstrap.min.js">
  <link rel="stylesheet" href="../../../icons/css/fontello.css">

    <script src="https://kit.fontawesome.com/978d2e326d.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="header">
                <div class="logo">
                    <img src="../../../images/logo.png" alt="">
                </div>
                <div class="menu">
                    <div class="menu-top">
                        <div class="menu-top-list">
                            <ul>
                                <li><a href="#" class="a">Bán hàng cùng SBS</a></li>
                                <li><a href="#" class="a">Chăm sóc khách hàng</a></li>
                                <li><a href="#" class="a">Kiểm tra đơn hàng</a></li>
                                <li><a href="#" class="a">Chế độ tối</a></li>
                                <li><a href="#" class="a">Thay đổi ngôn ngữ</a></li>
                            </ul>
                        </div>
                        <div class="menu-top-login">
                            <p><a href="#">Đăng Nhập</a>  <i class=" icon-user-2"></i></p>
                        </div>
                    </div>
                    <div class="menu-bottom">
                        <div class="menu-bottom-category">
                            <p><a href="#" class="a1"><i class="icon-list-nested"></i> Danh mục</a> </p>
                            <div class="category">
                                <div class="category-hover">
                                    <ul class="block-1">
                                        <li> <strong> Thiết bị di động</strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                        <li> <strong>Điện tử - Điện lạnh </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                        <li> <strong>Phụ kiện - Thiết bị số </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                        <li> <strong>Laptop - Thiết bị IT </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                        <li> <strong>Điện gia dụng </strong> <span> <i class='fas fa-angle-right' style='font-size: 18px'></i> </span></li>
                                        <li> <strong>Tiêu dùng - Thực phẩm </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                        <li> <strong>Mẹ và bé </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                        <li> <strong>Thời trang - Phụ kiện </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                        <li> <strong>Phụ nữ - Làm đẹp </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                        <li> <strong>Học tập </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                        <li> <strong>Thể thao - Dã ngoại </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                        <li> <strong>Y tế - Sức khỏe </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                        <li> <strong>Giao thông - di chuyển </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                        <li> <strong>Truyền thông - Giải trí </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                        <li> <strong>Voucher - Dịch vụ </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                    </ul>
                                    <ul class="block-2">
                                        <strong>Điện thoại</strong>
                                        <li>Android</li>
                                        <li>IOS</li>
                                        <li>Khác </li>
                                    </ul>
                                    <ul style="margin-left: 10%;" class="block-2">
                                        <strong>Điện thoại</strong>
                                        <li>Android</li>
                                        <li>IOS</li>
                                        <li>Khác </li>
                                    </ul>
                    
                                    <ul style="margin-left: 10%;" class="block-2">
                                        <strong>Điện thoại</strong>
                                        <li>Android</li>
                                        <li>IOS</li>
                                        <li>Khác </li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                        <div class="menu-bottom-search">
                            <div class="menu-bottom-search-in">
                                <input type="text" style="background-color:  #51C5DD;" placeholder="Tìm kiếm sản phẩm, danh mục, đại lý..."><a href="#"><i class="fas fa-search"></i></a>
                                <hr>
                            </div>
                        </div>
                        <div class="menu-bottom-cart"><i class="fas fa-shopping-cart"></i><span class="shopping-number">0</span></div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="shop-container">
            <div class="container">
                <div class="row content-row row-divied row-large row-reverse">
                    <div class="col col-lg-9 pr-0">
                       <div class="product-main">
                           <div class="row">
                               <div class="col col-lg-5">
                                   <div class="product-img-slide">
                                     <a href="#"><img src="../../../images/icon-telephone.png" alt=""></a>
                                   </div>
                               </div>
                               <div class="product-info">
                                 <div class="row">
                                   <div class="col">
                                    <div class="product-detail-listed">
                                      <a href="#">Trang chủ</a> /<a href="#">Sản phẩm</a> /<a href="#">Chi tiết</a>
                                    </div>
                                   </div>
                                 </div>

                                 <div class="row">
                                   <div class="col">
                                     <div class="product-detail-name">
                                       <span>Áo thun nam trơn</span>
                                     </div>
                                   </div>
                                 </div>

                                 <div class="row">
                                   <div class="col">
                                     <div class="product-detail-rate">
                                       <a href="#" class="product-rate">Đánh giá</a>
                                     </div>
                                   </div>
                                 </div>

                                 <div class="row">
                                   <div class="col">
                                     <div class="product-detail-price">
                                       <span>399.000</span><span>₫</span>
                                     </div>
                                   </div>
                                 </div>

                                 <div class="row">
                                   <div class="col">
                                     <div class="product-detail-describe">
                                       <p>Đây là sản phẩm như thế nào</p>
                                     </div>
                                   </div>
                                 </div>

                                 <div class="row">
                                   <div class="col col-lg-6">
                                     <div class="container-amount-added">
                                       <form action="" method="post">
                                        <input class="amount-added-minus" type="button" value="-" id="">
                                        <label class="sreen-reader-text" for="">số lượng</label>
                                        <input class="amount-input-display" type="number" value="1" min="1" max="999" size="4" pattern="[0-9]*" title="SL">
                                        <input class="amount-added-plus" type="button" value="+" id="">
                                       </form>
                                     </div>
                                   </div>
                                   <div class="col col-lg-6 pl-0">
                                     <div class="container-button-addcart">
                                       <input type="button" value="Thêm vào giỏ hàng" class="product-cart">
                                     </div>
                                   </div>
                                 </div>

                                 <div class="row pt-2">
                                   <div class="col">
                                     <div class="product-button-cartnow">
                                        <a href="#" class="buy-now">
                                          <strong>MUA NGAY</strong>
                                          <span>Gọi điện xác nhận và giao hàng tận nơi</span>
                                        </a>
                                     </div>
                                   </div>
                                 </div>

                                 <div class="row">
                                   <div class="col">
                                    <div class="thong-tin-shop">
                                      <div class="left">
                                        <img src="../../../images/logo.png" alt="#">
                                      </div>
                                      <div class="right">
                                        <p class="des">Được bán bởi:</p>
                                        <h3>Side By Side Shop</h3>
                                        <p class="mo-ta-shop">Đây là lần hoạt động đầu tiên, website vẫn đảm bảo về chất lượng và hình thức.</p>
                                      </div>
                                    </div>
                                   </div>
                                 </div>
                                 
                               </div>
                           </div>
                       </div>
                       <div class="product-footer"></div>
                    </div>
                    <div id="product-sidebar" class="col col-lg-3">
                        Gia Bảo
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="container-fluid px-0">
          <div class="col-xl px-0">
            <div class="footer-banner">
              <!-- <img src="" alt=""> -->
              <span>BANNER-FOOTER</span>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="col-xl">
            <div class="footer-menu-content">
                <div class="row">
                  <div class="col-sm d-flex justify-content-start">
                   <div class="col-12 px-0 bg-title">
                    <h4>Giới thiệu</h4>
                   </div>
                  </div>
    
                  <div class="col-sm d-flex justify-content">
                    <div class="col-12 px-0 bg-title">
                      <h4>Chính sách công ty</h4>
                     </div>
                  </div>
    
                  <div class="col-sm d-flex justify-content">
                    <div class="col-12 px-0 bg-title">
                      <h4>Hotline liên hệ:</h4>
                    </div>
                  </div>
                  <div class="col-sm d-flex justify-content">
                    <div class="col-12 px-0 bg-title">
                      <h4>Hệ thống cửa hàng</h4>
                    </div>
                  </div>
                </div>
    
                <div class="row">
                  <div class="col-sm d-flex justify-content-start">
                    <div class="col-xl px-0 bg-title-2">
                      <ul class="footer-item-ul">
                        <li class="li-menu"><a href="#">Về SBS</a></li>
                        <li class="li-menu"><a href="#">Hợp tác với SBS</a></li>
                        <li class="li-menu"><a href="#">Cơ hội nghề nghiệp</a></li>
                        <li class="li-menu"><a href="#">Quy chế sàn giao dịch</a></li>
                        <li class="li-menu"><a href="#">Các khuyến mãi đã bán</a></li>
                        <li class="li-menu"><a href="#">Blog SBS</a></li>
                      </ul>
                    </div>
                  </div>
    
                  <div class="col-sm d-flex justify-content-start">
                    <div class="col-xl px-0 bg-title-2">
                      <ul class="footer-item-ul">
                        <li class="li-menu"><a href="#">Hình thức đặt hàng</a></li>
                        <li class="li-menu"><a href="#">Hình thức thanh toán</a></li>
                        <li class="li-menu"><a href="#">Sử dụng Voucher/E-voucher</a></li>
                        <li class="li-menu"><a href="#">Phương thức vận chuyển</a></li>
                        <li class="li-menu"><a href="#">Chính sách đổi trả hàng</a></li>
                        <li class="li-menu"><a href="#">Hướng dẫn sử dụng</a></li>
                      </ul>
                    </div>
                  </div>
    
                  <div class="col-sm d-flex justify-content-start">
                    <div class="col-xl px-0 bg-title-2">
                      <ul class="footer-item-ul">
                        <div class="col px-0">
                          <div class="footer-hotline">
                            <div class="footer-hotline-img">
                              <img src="../../../images/icon-telephone.png" alt="">
                            </div>
                            <div class="footer-hotline-tel">
                              <p>
                                0921469828
                              </p>
                              <span>(Tất cả các ngày trong tuần)</span>
                            </div>
                          </div>
                        </div>
                        <div class="col px-0">
                          <div class="footer-link">
                            <div class="footer-link-title">
                              <h4>Kết nối với chúng tôi</h4>
                            </div>
                            <div class="footer-link-item">
                              <div class="footer-link-item-box .footer-link-fb">
                                <a href="#"><i class="icon-facebook-5"></i></a>
                              </div>
                              <div class="footer-link-item-box .footer-link-ins">
                                <a href="#"><i class="icon-instagram"></i></a>
                              </div>
                              <div class="footer-link-item-box .footer-link-twi">
                                <a href="#"> <i class="icon-twitter-5"></i></a>
                              </div>
                              <div class="footer-link-item-box"></div>
                              <div class="footer-link-item-box"></div>
                              <div class="footer-link-item-box"></div>
                            </div>
                          </div>
                        </div>
                        
                        
                        
                      </ul>
                    </div>
                  </div>
    
                  <div class="col-sm d-flex justify-content-start">
                    <div class="col-xl px-0 bg-title-2">
                      <div class="footer-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.4447672552687!2d106.62610801428757!3d10.853736760731062!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752bee0b0ef9e5%3A0x5b4da59e47aa97a8!2zQ8O0bmcgVmnDqm4gUGjhuqduIE3hu4FtIFF1YW5nIFRydW5n!5e0!3m2!1svi!2s!4v1606846299921!5m2!1svi!2s" width="277.50px" height="200px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                      </div>
                    </div>
                  </div>
                </div>
    
                <div class="row">
                  <div class="col-lg d-flex justify-content-start">
                    <div class="footer-pay">
                      <div class="footer-pay-title">
                        <h4>Các phương thức thanh toán </h4>
                      </div>
                    </div>
                  </div>
                </div>
                
            </div>
          </div>
        </div>
        <div class="container-fluid px-0">
          <div class="col-xl px-0">
            <div class="footer-license">
              <div class="col px-0">
                <div class="footer-license-box">
                  <div class="footer-license-box-span">
                    <span>&#169;copyright 2001-2020 by SBS company.</span>
                    <br>
                    <span>Mong kiếp sau vẫn là anh em </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
</body>
</html>