<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
  <link rel="stylesheet" href="../../../css/client/css-fix/style.css">
  <link rel="stylesheet" href="../../../icons/css/fontello.css">
    <script src="https://kit.fontawesome.com/978d2e326d.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

</head>

<body>
    <header>
        <div class="header">
            <div class="logo">
                <img src="../../../images/logo.png" alt="">
            </div>
            <div class="menu">
                <div class="menu-top">
                    <div class="menu-top-list">
                        <ul>
                            <li><a href="#" class="a">Bán hàng cùng SBS</a></li>
                            <li><a href="#" class="a">Chăm sóc khách hàng</a></li>
                            <li><a href="#" class="a">Kiểm tra đơn hàng</a></li>
                            <li><a href="#" class="a">Chế độ tối</a></li>
                            <li><a href="#" class="a">Thay đổi ngôn ngữ</a></li>
                        </ul>
                    </div>
                    <div class="menu-top-login">
                        <p><a href="#">Đăng Nhập</a>  <i class=" icon-user-2"></i></p>
                    </div>
                </div>
                <div class="menu-bottom">
                    <div class="menu-bottom-category">
                        <p><a href="#" class="a1"><i class="icon-list-nested"></i> Danh mục</a> </p>
                        <div class="category">
                            <div class="category-hover">
                                <ul class="block-1">
                                    <li> <strong> Thiết bị di động</strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                    <li> <strong>Điện tử - Điện lạnh </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                    <li> <strong>Phụ kiện - Thiết bị số </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                    <li> <strong>Laptop - Thiết bị IT </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                    <li> <strong>Điện gia dụng </strong> <span> <i class='fas fa-angle-right' style='font-size: 18px'></i> </span></li>
                                    <li> <strong>Tiêu dùng - Thực phẩm </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                    <li> <strong>Mẹ và bé </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                    <li> <strong>Thời trang - Phụ kiện </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                    <li> <strong>Phụ nữ - Làm đẹp </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                    <li> <strong>Học tập </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                    <li> <strong>Thể thao - Dã ngoại </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                    <li> <strong>Y tế - Sức khỏe </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                    <li> <strong>Giao thông - di chuyển </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                    <li> <strong>Truyền thông - Giải trí </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                    <li> <strong>Voucher - Dịch vụ </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                </ul>
                                <ul class="block-2">
                                    <strong>Điện thoại</strong>
                                    <li>Android</li>
                                    <li>IOS</li>
                                    <li>Khác </li>
                                </ul>
                                <ul style="margin-left: 10%;" class="block-2">
                                    <strong>Điện thoại</strong>
                                    <li>Android</li>
                                    <li>IOS</li>
                                    <li>Khác </li>
                                </ul>
                
                                <ul style="margin-left: 10%;" class="block-2">
                                    <strong>Điện thoại</strong>
                                    <li>Android</li>
                                    <li>IOS</li>
                                    <li>Khác </li>
                                </ul>
                
                
                
                
                            </div>
                        </div>
                        
                    </div>
                    <div class="menu-bottom-search">
                        <div class="menu-bottom-search-in">
                            <input type="text" placeholder="Tìm kiếm sản phẩm, danh mục, đại lý..."><a href="#"><i class="fas fa-search"></i></a>
                            <hr>
                        </div>
                    </div>
                    <div class="menu-bottom-cart"><i class="fas fa-shopping-cart"></i><span class="shopping-number">0</span></div>
                </div>
            </div>
        </div>
    </header>
      <div class="container-px-0">
        <div class="row-container-product">
          <div class="title-sale">
            <span><strong>GIÁ SỐC TRONG NGÀY<i class="icon-fire-2"></i></strong></span>
          </div>
          <div class="col-bg-dark">
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
            </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
            </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
            </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
           </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
           </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-bg-dark">
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
            </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
            </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
            </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
           </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
           </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-bg-dark">
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
            </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
            </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
            </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
           </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
           </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-bg-dark">
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
            </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
            </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
            </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
           </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
           </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-bg-dark">
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
            </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
            </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
            </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
           </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
           </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-bg-dark">
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
            </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
            </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
            </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
           </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
           </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-bg-dark">
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
            </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
            </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
            </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
           </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
           </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="row-container-product">
            <div class="col-bg-dark">
              <div class="box-product">
                <a href="#">
                  <div class="product">
                    <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                    <div class="product-information">
                      <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                      <p class="product-price">900.000đ</p>
                    </div>
                    <div class="sale">
                      <div class="sale-item">45%</div>
                      <div class="triangle"></div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="box-product">
                <a href="#">
                  <div class="product">
                    <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                    <div class="product-information">
                      <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                      <p class="product-price">900.000đ</p>
                    </div>
                    <div class="sale">
                      <div class="sale-item">45%</div>
                      <div class="triangle"></div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="box-product">
                <a href="#">
                  <div class="product">
                    <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                    <div class="product-information">
                      <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                      <p class="product-price">900.000đ</p>
                    </div>
                    <div class="sale">
                      <div class="sale-item">45%</div>
                      <div class="triangle"></div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="box-product">
                <a href="#">
                  <div class="product">
                    <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                    <div class="product-information">
                      <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                      <p class="product-price">900.000đ</p>
                    </div>
                    <div class="sale">
                      <div class="sale-item">45%</div>
                      <div class="triangle"></div>
                    </div>
                  </div>
                </a>
             </div>
              <div class="box-product">
                <a href="#">
                  <div class="product">
                    <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                    <div class="product-information">
                      <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                      <p class="product-price">900.000đ</p>
                    </div>
                    <div class="sale">
                      <div class="sale-item">45%</div>
                      <div class="triangle"></div>
                    </div>
                  </div>
                </a>
             </div>
              <div class="box-product">
                <a href="#">
                  <div class="product">
                    <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                    <div class="product-information">
                      <p><a class="product-link" href="#"><strong>Giày thời trang Nike ft. Side by Side</strong></a></p>
                      <p class="product-price">900.000đ</p>
                    </div>
                    <div class="sale">
                      <div class="sale-item">45%</div>
                      <div class="triangle"></div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
        </div>
      <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
      <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> 
      <script src="https://kit.fontawesome.com/978d2e326d.js" crossorigin="anonymous"></script>
      <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</body>

</html>