<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
  <link rel="stylesheet" href="../../../css/client/css-fix/style.css">
  <link rel="stylesheet" href="../../../icons/css/fontello.css">

</head>

<body>
    <header>
        <div class="header">
            <div class="logo">
                <img src="../../../images/logo.png" alt="">
            </div>
            <div class="menu">
                <div class="menu-top">
                    <div class="menu-top-list">
                        <ul>
                            <li><a href="#" class="a">Bán hàng cùng SBS</a></li>
                            <li><a href="#" class="a">Chăm sóc khách hàng</a></li>
                            <li><a href="#" class="a">Kiểm tra đơn hàng</a></li>
                            <li><a href="#" class="a">Chế độ tối</a></li>
                            <li><a href="#" class="a">Thay đổi ngôn ngữ</a></li>
                        </ul>
                    </div>
                    <div class="menu-top-login">
                        <p><a href="#">Đăng Nhập</a>  <i class=" icon-user-2"></i></p>
                    </div>
                </div>
                <div class="menu-bottom">
                    <div class="menu-bottom-category">
                        <p><a href="#" class="a1"><i class="icon-list-nested"></i> Danh mục</a> </p>
                        <div class="hover">
                          <div class="category">
                              <div class="category-hover">
                                <ul class="block-1">
                                    <li> <strong> Thiết bị di động</strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                    <li> <strong>Điện tử - Điện lạnh </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                    <li> <strong>Phụ kiện - Thiết bị số </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                    <li> <strong>Laptop - Thiết bị IT </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                    <li> <strong>Điện gia dụng </strong> <span> <i class='fas fa-angle-right' style='font-size: 18px'></i> </span></li>
                                    <li> <strong>Tiêu dùng - Thực phẩm </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                    <li> <strong>Mẹ và bé </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                    <li> <strong>Thời trang - Phụ kiện </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                    <li> <strong>Phụ nữ - Làm đẹp </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                    <li> <strong>Học tập </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                    <li> <strong>Thể thao - Dã ngoại </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                    <li> <strong>Y tế - Sức khỏe </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                    <li> <strong>Giao thông - di chuyển </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                    <li> <strong>Truyền thông - Giải trí </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                    <li> <strong>Voucher - Dịch vụ </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                                </ul>
                                <ul class="block-2">
                                    <li><strong>Điện thoại</strong></li>
                                    <li>Android</li>
                                    <li>IOS</li>
                                    <li>Khác </li>
                                </ul>
                                <ul style="margin-left: 10%;" class="block-2">
                                    <li><strong>Điện thoại</strong></li>
                                    <li>Android</li>
                                    <li>IOS</li>
                                    <li>Khác </li>
                                </ul>
                                <ul style="margin-left: 10%;" class="block-2">
                                    <li><strong>Điện thoại</strong></li>
                                    <li>Android</li>
                                    <li>IOS</li>
                                    <li>Khác </li>
                                </ul>
                              </div>
                          </div>
                        </div>                       
                    </div>
                    <div class="menu-bottom-search">
                        <div class="menu-bottom-search-in">
                            <input type="text" placeholder="Tìm kiếm sản phẩm, danh mục, đại lý..."><a href="#"><i class="fas fa-search"></i></a>
                            <hr>
                        </div>
                    </div>
                    <div class="menu-bottom-cart"><i class="fas fa-shopping-cart"></i><span class="shopping-number">0</span></div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="banner">
            <div class="banner-item">
                <div class="banner-left"></div>
                <div class="banner-right"></div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer">
          <div class="footer-item">
            <div class="footer-item-highlights">
              <div class="footer-content">
                <h2>Tìm kiếm nhiều nhất</h2>
              </div>
              <div class="footer-content-menu">
                <div class="footer-content-menu-item">
                  <div class="item-icon"><i class="fas fa-shopping-bag"></i></div>
                  <div class="item-content">Thời Trang - Phụ Kiện</div>
                </div>
                <div class="footer-content-menu-item">
                  <div class="item-icon"><i class="fas fa-mobile-alt"></i></div>
                  <div class="item-content">Thiết bị di động</div>
                </div>
                <div class="footer-content-menu-item">
                  <div class="item-icon"><i class="fas fa-laptop"></i></div>
                  <div class="item-content">Laptop - Thiết bị it</div>
                </div>
                <div class="footer-content-menu-item">
                  <div class="item-icon"><i class="fas fa-headphones-alt"></i></div>
                  <div class="item-content">Phụ kiện - Thiết bị số</div>
                </div>
                <div class="footer-content-menu-item">
                  <div class="item-icon"><i class="fas fa-male"></i></div>
                  <div class="item-content">Mẹ và bé</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <div class="container-px-0">
        <div class="row-container-product">
          <div class="row-sale">
            <div class="title-sale">
              <span><strong>GIÁ SỐC TRONG NGÀY<i class="icon-fire-2"></i></strong></span>
            </div>
            <div class="time">
              <p id="dongho"></p>
            </div>
          </div>
          <div class="col-bg-dark">
            <div class="box-product">
              <a class="product-link" href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><strong>Giày thời trang Nike ft. Side by Side</strong></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
            </div>
            <div class="box-product">
              <a class="product-link" href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><strong>Giày thời trang Nike ft. Side by Side</strong></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
            </div>
            <div class="box-product">
              <a class="product-link" href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><strong>Giày thời trang Nike ft. Side by Side</strong></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
            </div>
            <div class="box-product">
              <a class="product-link" href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><strong>Giày thời trang Nike ft. Side by Side</strong></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
           </div>
            <div class="box-product">
              <a class="product-link" href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><strong>Giày thời trang Nike ft. Side by Side</strong></p>
                    <p class="product-price">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
           </div>
            <div class="box-product">
              <a class="product-link" href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information">
                    <p><strong>Giày thời trang Nike ft. Side by Side</strong></p>
                    <p class="product-pri
                    ce">900.000đ</p>
                  </div>
                  <div class="sale">
                    <div class="sale-item">45%</div>
                    <div class="triangle"></div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="row-container-product">
            <div class="col-bg-dark">
              <div class="box-product">
                <a class="product-link" href="#">
                  <div class="product">
                    <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                    <div class="product-information">
                      <p><strong>Giày thời trang Nike ft. Side by Side</strong></p>
                      <p class="product-price">900.000đ</p>
                    </div>
                    <div class="sale">
                      <div class="sale-item">45%</div>
                      <div class="triangle"></div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="box-product">
                <a class="product-link" href="#">
                  <div class="product">
                    <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                    <div class="product-information">
                      <p><strong>Giày thời trang Nike ft. Side by Side</strong></p>
                      <p class="product-price">900.000đ</p>
                    </div>
                    <div class="sale">
                      <div class="sale-item">45%</div>
                      <div class="triangle"></div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="box-product">
                <a class="product-link" href="#">
                  <div class="product">
                    <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                    <div class="product-information">
                      <p><strong>Giày thời trang Nike ft. Side by Side</strong></p>
                      <p class="product-price">900.000đ</p>
                    </div>
                    <div class="sale">
                      <div class="sale-item">45%</div>
                      <div class="triangle"></div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="box-product">
                <a class="product-link" href="#">
                  <div class="product">
                    <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                    <div class="product-information">
                      <p><strong>Giày thời trang Nike ft. Side by Side</strong></p>
                      <p class="product-price">900.000đ</p>
                    </div>
                    <div class="sale">
                      <div class="sale-item">45%</div>
                      <div class="triangle"></div>
                    </div>
                  </div>
                </a>
             </div>
              <div class="box-product">
                <a class="product-link" href="#">
                  <div class="product">
                    <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                    <div class="product-information">
                      <p><strong>Giày thời trang Nike ft. Side by Side</strong></p>
                      <p class="product-price">900.000đ</p>
                    </div>
                    <div class="sale">
                      <div class="sale-item">45%</div>
                      <div class="triangle"></div>
                    </div>
                  </div>
                </a>
             </div>
              <div class="box-product">
                <a class="product-link" href="#">
                  <div class="product">
                    <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                    <div class="product-information">
                      <p><strong>Giày thời trang Nike ft. Side by Side</strong></p>
                      <p class="product-price">900.000đ</p>
                    </div>
                    <div class="sale">
                      <div class="sale-item">45%</div>
                      <div class="triangle"></div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          <div class="button-more"><button class="more">Xem thêm</button></div>
        </div>
        <div class="row-container-product">
          <div class="row-sale">
            <div class="title-sale">
              <span class="foryou"><strong>Từ khóa hay tìm kiếm</strong></span>
            </div>
            <div class="time">
              <p id="dongho"></p>
            </div>
          </div>
          <div style="padding: 0 30px;">
            <div class="carousel">
              <div class="word-pp">your content</div>
              <div class="word-pp">your content</div>
              <div class="word-pp">your content</div>
              <div class="word-pp">your content</div>
              <div class="word-pp">your content</div>
              <div class="word-pp">your content</div>
              <div class="word-pp">your content</div>
              <div class="word-pp">your content</div>
              <div class="word-pp">your content</div>
              <div class="word-pp">your content</div>
              <div class="word-pp">your content</div>
              <div class="word-pp">your content</div>
              <div class="word-pp">your content</div>
              <div class="word-pp">your content</div>
              <div class="word-pp">your content</div>
              <div class="word-pp">your content</div>
              <div class="word-pp">your content</div>
              <div class="word-pp">your content</div>
            </div>
          </div>
        </div>
        <div class="row-container-product">
          <div class="row-sale">
            <div class="title-sale"><span class="foryou"><strong>Dành Riêng Cho Bạn</strong></span></div>
          </div>
          <div class="col-bg-dark">
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information"></div>
                </div>
              </a>
            </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information"></div>
                </div>
              </a>
            </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information"></div>
                </div>
              </a>
            </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information"></div>
                </div>
              </a>
            </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information"></div>
                </div>
              </a>
            </div>
            <div class="box-product">
              <a href="#">
                <div class="product">
                  <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                  <div class="product-information"></div>
                </div>
              </a>
            </div>
          </div>
          <div class="row-container-product">
            <div class="col-bg-dark">
              <div class="box-product">
                <a href="#">
                  <div class="product">
                    <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                    <div class="product-information"></div>
                  </div>
                </a>
              </div>
              <div class="box-product">
                <a href="#">
                  <div class="product">
                    <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                    <div class="product-information"></div>
                  </div>
                </a>
              </div>
              <div class="box-product">
                <a href="#">
                  <div class="product">
                    <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                    <div class="product-information"></div>
                  </div>
                </a>
              </div>
              <div class="box-product">
                <a href="#">
                  <div class="product">
                    <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                    <div class="product-information"></div>
                  </div>
                </a>
              </div>
              <div class="box-product">
                <a href="#">
                  <div class="product">
                    <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                    <div class="product-information"></div>
                  </div>
                </a>
              </div>
              <div class="box-product">
                <a href="#">
                  <div class="product">
                    <div class="product-image"> <img class="iphone" src="../../../images/products/p_9/1.jpg" alt=""></div>
                    <div class="product-information"></div>
                  </div>
                </a>
              </div>
            </div>
            <div class="button-more"><button class="more">Xem thêm</button></div>
        </div>
      </div>
      <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
      <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> 
      <script src="https://kit.fontawesome.com/978d2e326d.js" crossorigin="anonymous"></script>
      <script src='https://kit.fontawesome.com/a076d05399.js'></script>
      <script>
        var dh = null;
  
        function tg() {
          var now = new Date();
          var h = now.getHours();
          var m = now.getMinutes();
          var s = now.getSeconds();
          document.getElementById("dongho").innerHTML = h + ":" + m + ":" + s;
        }
      </script>
      <script>
        dh = setInterval("tg()", 1000);
      </script>
      <script>
        function starstopdh() {
          if (dh == null) {
            dh = setInterval("tg()", 1000);
          } else {
            clearInterval(dh);
            dh = null;
          }
        }
      </script>
      <script>
        $(document).ready(function(){
          $('.carousel').slick({
            dots: true,
            infinite: false,
            speed: 300,
            slidesToShow:6,
            slidesToScroll: 6,
            prevArrow: `<button type="button" class="slick-prev prev-arrow-carousel">Previous</button>`,
            nextArrow: `<button type="button" class="slick-next next-arrow-carousel">Next</button>`
          });
        });
      </script>
</body>

</html>