<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://kit.fontawesome.com/978d2e326d.js" crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../../css/client/home.css">
  <link rel="stylesheet" href="../../../icons/css/fontello.css">
  <link rel="stylesheet" href="../../../bootstrap/css/bootstrap.css">
</head>

<body>
  <header>
    <div class="header">

      <div class="col px-0">
        <div class="logo">
          <a class="menu-link" href="#"><img src="../../../images/logo.png" alt="logo"></a>
        </div>
  
      </div>
      <div class="menu">
        <div class="menu-top">
         <div class="col-lg px-0">
            <div class="menu-top-list d-flex justify-content-start">
            <ul>
              <li><a class="menu-link" href="#">Bán hàng cùng SBS</a> </li>
              <li><a class="menu-link" href="#">Chăm sóc khách hàng</a></li>
              <li><a class="menu-link" href="#">Kiểm tra đơn hàng</a></li>
              <li><a class="menu-link" href="#">Chế độ tối</a></li>
              <li><a class="menu-link" href="#">Thay đổi ngôn ngữ</a></li>
            </ul>
          </div>
         </div>
          <div class="menu-top-login d-flex justify-content-end">
            <a class="bside-txt hl-hv" href="#"><span>Đăng Nhập</span> <i class=" icon-user-2"></i></a>
          </div>
        </div>

        <div class="menu-bottom">
          <div class="menu-bottom-category">
            <p><a href="#" class="a1"><i class="icon-list-nested"></i> Danh mục</a> </p>
            <div class="category">
                <div class="category-hover">
                    <ul class="block-1">
                        <li> <strong> Thiết bị di động</strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                        <li> <strong>Điện tử - Điện lạnh </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                        <li> <strong>Phụ kiện - Thiết bị số </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                        <li> <strong>Laptop - Thiết bị IT </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                        <li> <strong>Điện gia dụng </strong> <span> <i class='fas fa-angle-right' style='font-size: 18px'></i> </span></li>
                        <li> <strong>Tiêu dùng - Thực phẩm </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                        <li> <strong>Mẹ và bé </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                        <li> <strong>Thời trang - Phụ kiện </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                        <li> <strong>Phụ nữ - Làm đẹp </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                        <li> <strong>Học tập </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                        <li> <strong>Thể thao - Dã ngoại </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                        <li> <strong>Y tế - Sức khỏe </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                        <li> <strong>Giao thông - di chuyển </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                        <li> <strong>Truyền thông - Giải trí </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                        <li> <strong>Voucher - Dịch vụ </strong> <span> <i class='fas fa-angle-right' style='font-size:18px'></i> </span></li>
                    </ul>
                    <ul class="block-2">
                        <strong>Điện thoại</strong>
                        <li>Android</li>
                        <li>IOS</li>
                        <li>Khác </li>
                    </ul>
                    <ul style="margin-left: 10%;" class="block-2">
                        <strong>Điện thoại</strong>
                        <li>Android</li>
                        <li>IOS</li>
                        <li>Khác </li>
                    </ul>
    
                    <ul style="margin-left: 10%;" class="block-2">
                        <strong>Điện thoại</strong>
                        <li>Android</li>
                        <li>IOS</li>
                        <li>Khác </li>
                    </ul>
                </div>
            </div>
            
        </div>

          <div class="menu-bottom-search">
            <input type="text" placeholder="Tìm kiếm sản phẩm, danh mục, đại lí..."> <i
              class=" icon-search-8"></i></input>
          </div>

          <div class="menu-bottom-cart d-flex justify-content-end">
            <a class="" href="#"><i class="fas fa-shopping-cart"></i></a>
            <div class="shopping-cart-number">0</div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main>
    <div class="banner">
      <div class="banner-item">
          <div class="banner-left"></div>
          <div class="banner-right"></div>
      </div>
  </div>

  <div class="container-fluid bg-light">
    <div class="footer">
      <div class="footer-item">
        <div class="footer-item-highlights">
          <div class="footer-content">
            <h2>Tìm kiếm nhiều nhất</h2>
          </div>
          <div class="footer-content-menu">
            <div class="footer-content-menu-item">
              <div class="item-icon"><i class="fas fa-shopping-bag"></i></div>
              <div class="item-content">Thời Trang - Phụ Kiện</div>
            </div>
            <div class="footer-content-menu-item">
              <div class="item-icon"><i class="fas fa-mobile-alt"></i></div>
              <div class="item-content">Thiết bị di động</div>
            </div>
            <div class="footer-content-menu-item">
              <div class="item-icon"><i class="fas fa-laptop"></i></div>
              <div class="item-content">Laptop - Thiết bị it</div>
            </div>
            <div class="footer-content-menu-item">
              <div class="item-icon"><i class="fas fa-headphones-alt"></i></div>
              <div class="item-content">Phụ kiện - Thiết bị số</div>
            </div>
            <div class="footer-content-menu-item">
              <div class="item-icon"><i class="fas fa-male"></i></div>
              <div class="item-content">Mẹ và bé</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div class="container-fluid">
    <div class="container w-100 pt-3">
      <div class="row">
        <div class="col">
          <div class="title-product-1">
            <span>GIÁ SỐC TRONG NGÀY</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  </main>

  
  <footer>
    <div class="container-fluid px-0">
      <div class="col-xl px-0">
        <div class="footer-banner">
          <!-- <img src="" alt=""> -->
          <span>BANNER-FOOTER</span>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="col-xl">
        <div class="footer-menu-content">
            <div class="row">
              <div class="col-sm d-flex justify-content-start">
               <div class="col-12 px-0 bg-title">
                <h4>Giới thiệu</h4>
               </div>
              </div>

              <div class="col-sm d-flex justify-content">
                <div class="col-12 px-0 bg-title">
                  <h4>Chính sách công ty</h4>
                 </div>
              </div>

              <div class="col-sm d-flex justify-content">
                <div class="col-12 px-0 bg-title">
                  <h4>Hotline liên hệ:</h4>
                </div>
              </div>
              <div class="col-sm d-flex justify-content">
                <div class="col-12 px-0 bg-title">
                  <h4>Hệ thống cửa hàng</h4>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm d-flex justify-content-start">
                <div class="col-xl px-0 bg-title-2">
                  <ul class="footer-item-ul">
                    <li class="li-menu"><a href="#">Về SBS</a></li>
                    <li class="li-menu"><a href="#">Hợp tác với SBS</a></li>
                    <li class="li-menu"><a href="#">Cơ hội nghề nghiệp</a></li>
                    <li class="li-menu"><a href="#">Quy chế sàn giao dịch</a></li>
                    <li class="li-menu"><a href="#">Các khuyến mãi đã bán</a></li>
                    <li class="li-menu"><a href="#">Blog SBS</a></li>
                  </ul>
                </div>
              </div>

              <div class="col-sm d-flex justify-content-start">
                <div class="col-xl px-0 bg-title-2">
                  <ul class="footer-item-ul">
                    <li class="li-menu"><a href="#">Hình thức đặt hàng</a></li>
                    <li class="li-menu"><a href="#">Hình thức thanh toán</a></li>
                    <li class="li-menu"><a href="#">Sử dụng Voucher/E-voucher</a></li>
                    <li class="li-menu"><a href="#">Phương thức vận chuyển</a></li>
                    <li class="li-menu"><a href="#">Chính sách đổi trả hàng</a></li>
                    <li class="li-menu"><a href="#">Hướng dẫn sử dụng</a></li>
                  </ul>
                </div>
              </div>

              <div class="col-sm d-flex justify-content-start">
                <div class="col-xl px-0 bg-title-2">
                  <ul class="footer-item-ul">
                    <div class="col px-0">
                      <div class="footer-hotline">
                        <div class="footer-hotline-img">
                          <img src="../../../images/icon-telephone.png" alt="">
                        </div>
                        <div class="footer-hotline-tel">
                          <p>
                            0921469828
                          </p>
                          <span>(Tất cả các ngày trong tuần)</span>
                        </div>
                      </div>
                    </div>
                    <div class="col px-0">
                      <div class="footer-link">
                        <div class="footer-link-title">
                          <h4>Kết nối với chúng tôi</h4>
                        </div>
                        <div class="footer-link-item">
                          <div class="footer-link-item-box .footer-link-fb">
                            <a href="#"><i class="icon-facebook-5"></i></a>
                          </div>
                          <div class="footer-link-item-box .footer-link-ins">
                            <a href="#"><i class="icon-instagram"></i></a>
                          </div>
                          <div class="footer-link-item-box .footer-link-twi">
                            <a href="#"> <i class="icon-twitter-5"></i></a>
                          </div>
                          <div class="footer-link-item-box"></div>
                          <div class="footer-link-item-box"></div>
                          <div class="footer-link-item-box"></div>
                        </div>
                      </div>
                    </div>
                    
                    
                    
                  </ul>
                </div>
              </div>

              <div class="col-sm d-flex justify-content-start">
                <div class="col-xl px-0 bg-title-2">
                  <div class="footer-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.4447672552687!2d106.62610801428757!3d10.853736760731062!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752bee0b0ef9e5%3A0x5b4da59e47aa97a8!2zQ8O0bmcgVmnDqm4gUGjhuqduIE3hu4FtIFF1YW5nIFRydW5n!5e0!3m2!1svi!2s!4v1606846299921!5m2!1svi!2s" width="277.50px" height="200px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg d-flex justify-content-start">
                <div class="footer-pay">
                  <div class="footer-pay-title">
                    <h4>Các phương thức thanh toán </h4>
                  </div>
                </div>
              </div>
            </div>
            
        </div>
      </div>
    </div>
    <div class="container-fluid px-0">
      <div class="col-xl px-0">
        <div class="footer-license">
          <div class="col px-0">
            <div class="footer-license-box">
              <div class="footer-license-box-span">
                <span>&#169;copyright 2001-2020 by SBS company.</span>
                <br>
                <span>Mong kiếp sau vẫn là anh em </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>