<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
    />
    <link rel="stylesheet" href="../../../css/client/css-fix/style.css" />
    <link rel="stylesheet" href="../../../icons/css/fontello.css" />
    <script
      src="https://kit.fontawesome.com/978d2e326d.js"
      crossorigin="anonymous"
    ></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="logo">
        <a href="./index-fix.html"
          ><img src="../../../images/logo.png" alt=""
        /></a>
      </div>
      <div class="menu">
        <div class="menu-top">
          <div class="menu-top-list">
            <ul>
              <li><a href="#">Bán hàng cùng SBS</a></li>
              <li><a href="#" class="a">Chăm sóc khách hàng</a></li>
              <li><a href="#" class="a">Kiểm tra đơn hàng</a></li>
              <li><a href="#" class="a">Chế độ tối</a></li>
              <li><a href="#" class="a">Thay đổi ngôn ngữ</a></li>
            </ul>
          </div>
          <div class="menu-top-login">
            <p><a href="#">Đăng Nhập</a> <i class="icon-user-2"></i></p>
          </div>
        </div>
        <div class="menu-bottom">
          <div class="menu-bottom-category">
            <p>
              <a href="#" class="a1"
                ><i class="icon-list-nested"></i> Danh mục</a
              >
            </p>
            <div class="hover">
              <div class="category">
                <div class="category-hover">
                  <ul class="block-1">
                    <li>
                      <strong> Thiết bị di động</strong>
                      <span>
                        <i
                          class="fas fa-angle-right"
                          style="font-size: 18px"
                        ></i>
                      </span>
                    </li>
                    <li>
                      <strong>Điện tử - Điện lạnh </strong>
                      <span>
                        <i
                          class="fas fa-angle-right"
                          style="font-size: 18px"
                        ></i>
                      </span>
                    </li>
                    <li>
                      <strong>Phụ kiện - Thiết bị số </strong>
                      <span>
                        <i
                          class="fas fa-angle-right"
                          style="font-size: 18px"
                        ></i>
                      </span>
                    </li>
                    <li>
                      <strong>Laptop - Thiết bị IT </strong>
                      <span>
                        <i
                          class="fas fa-angle-right"
                          style="font-size: 18px"
                        ></i>
                      </span>
                    </li>
                    <li>
                      <strong>Điện gia dụng </strong>
                      <span>
                        <i
                          class="fas fa-angle-right"
                          style="font-size: 18px"
                        ></i>
                      </span>
                    </li>
                    <li>
                      <strong>Tiêu dùng - Thực phẩm </strong>
                      <span>
                        <i
                          class="fas fa-angle-right"
                          style="font-size: 18px"
                        ></i>
                      </span>
                    </li>
                    <li>
                      <strong>Mẹ và bé </strong>
                      <span>
                        <i
                          class="fas fa-angle-right"
                          style="font-size: 18px"
                        ></i>
                      </span>
                    </li>
                    <li>
                      <strong>Thời trang - Phụ kiện </strong>
                      <span>
                        <i
                          class="fas fa-angle-right"
                          style="font-size: 18px"
                        ></i>
                      </span>
                    </li>
                    <li>
                      <strong>Phụ nữ - Làm đẹp </strong>
                      <span>
                        <i
                          class="fas fa-angle-right"
                          style="font-size: 18px"
                        ></i>
                      </span>
                    </li>
                    <li>
                      <strong>Học tập </strong>
                      <span>
                        <i
                          class="fas fa-angle-right"
                          style="font-size: 18px"
                        ></i>
                      </span>
                    </li>
                    <li>
                      <strong>Thể thao - Dã ngoại </strong>
                      <span>
                        <i
                          class="fas fa-angle-right"
                          style="font-size: 18px"
                        ></i>
                      </span>
                    </li>
                    <li>
                      <strong>Y tế - Sức khỏe </strong>
                      <span>
                        <i
                          class="fas fa-angle-right"
                          style="font-size: 18px"
                        ></i>
                      </span>
                    </li>
                    <li>
                      <strong>Giao thông - di chuyển </strong>
                      <span>
                        <i
                          class="fas fa-angle-right"
                          style="font-size: 18px"
                        ></i>
                      </span>
                    </li>
                    <li>
                      <strong>Truyền thông - Giải trí </strong>
                      <span>
                        <i
                          class="fas fa-angle-right"
                          style="font-size: 18px"
                        ></i>
                      </span>
                    </li>
                    <li>
                      <strong>Voucher - Dịch vụ </strong>
                      <span>
                        <i
                          class="fas fa-angle-right"
                          style="font-size: 18px"
                        ></i>
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="menu-bottom-search">
            <div class="menu-bottom-search-in">
              <input
                type="text"
                placeholder="Tìm kiếm sản phẩm, danh mục, đại lý..."
              /><a href="#"><i class="fas fa-search"></i></a>
              <hr />
            </div>
          </div>
          <div class="menu-bottom-cart">
            <i class="fas fa-shopping-cart"></i
            ><span class="shopping-number">0</span>
          </div>
        </div>
      </div>
    </div>
    <div class="container-px-0">
      <div class="row-information-user">
        <div class="information-menu">
          <div class=""></div>
          <div class="menu-item">
            <div class="menu-item-img">
              <img src="../../../images/dna.jpg" alt="" />
            </div>
            <div class="menu-item-name">
              <div>Đào Nhật Anh</div>
              <div class="deal-price">sửa hồ sơ</div>
            </div>
          </div>
          <hr />
          <div class="menu-item">
            <div class="icon"><i class="fas fa-user-circle"></i></div>
            <div><a href="./interface.html">Tài Khoản của tôi</a></div>
          </div>
          <div class="menu-item">
            <div class="icon1"><i class="fas fa-book"></i></div>
            <div><a href="./product-history.html">Đơn mua</a></div>
          </div>
          <div class="menu-item">
            <div class="icon2"><i class="fas fa-bell"></i></div>
            <div>Thông Báo</div>
          </div>
          <div class="menu-item">
            <div class="icon3"><i class="fas fa-wallet"></i></div>
            <div><a href="./voucher.html">Ví voucher</a></div>
          </div>
        </div>
        <div class="information-detail">
          <div class="read">
            <div class="read-item">
              <a href="#">Đánh dấu đã đọc</a>
            </div>
          </div>
          <div class="news">
            <div class="news-image">
              <img src="../../../images/deal1.jpg" alt="" />
            </div>
            <div class="news-information">
              <div>Bạn có voucher sắp hết hạn!</div>
              <div>
                <a class="time-item" href="#"
                  >⏰ Đào Nhật Anh ơi! Side by Side dỗi đó! 🛒 Mã Freeship sắp
                  hết hạn! 🎁️ Hàng loạt sản phẩm Flash Sale đang bùng cháy! 😍
                  Mua ngay kẻo lỡ nè!</a
                >
              </div>
              <div><p class="time-item">12:01 16-12-2020</p></div>
            </div>
            <div class="news-button"><button>Xem chi tiết</button></div>
          </div>
          <div class="news">
            <div class="news-image">
              <img src="../../../images/deal2.jpg" alt="" />
            </div>
            <div class="news-information">
              <div>Side by Side có quà riêng cho bạn!</div>
              <div>
                <a class="time-item" href="#"
                  >⏰ Đào Nhật Anh ơi! 😍 Mã Freeship đơn bất kỳ sẵn trong ví!
                  🎁️ Sản phẩm giá tốt sắp hết! 🛒 Mua ngay kẻo lỡ!</a
                >
              </div>
              <div><p class="time-item">10:13 13-12-2020</p></div>
            </div>
            <div class="news-button"><button>Xem chi tiết</button></div>
          </div>
          <div class="news">
            <div class="news-image">
              <img src="../../../images/deal3.png" alt="" />
            </div>
            <div class="news-information">
              <div>Voucher 12.12 sắp hết hạn!</div>
              <div>
                <a class="time-item" href="#"
                  >⏰ Đào Nhật Anh ơi! 😍 còn 3 Voucher trong ví 💥 #12.12:
                  Freeship 0đ + Deal SỐC 50% 🙌 Xài nhanh ngay!</a
                >
              </div>
              <div><p class="time-item">19:11 12-12-2020</p></div>
            </div>
            <div class="news-button"><button>Xem chi tiết</button></div>
          </div>
          <div class="news">
            <div class="news-image">
              <img src="../../../images/deal4.png" alt="" />
            </div>
            <div class="news-information">
              <div>#12.12 không lẽ bỏ qua DEAL 12K?</div>
              <div>
                <a class="time-item" href="#"
                  >⏰ Đào Nhật Anh ơi! 😍 ⚡ Loạt Deal 12K giá không tưởng 🔥 Ai
                  cũng rần rần - Chậm là mất phần</a
                >
              </div>
              <div><p class="time-item">14:32 12-12-2020</p></div>
            </div>
            <div class="news-button"><button>Xem chi tiết</button></div>
          </div>
          <div class="news">
            <div class="news-image">
              <img src="../../../images/deal5.png" alt="" />
            </div>
            <div class="news-information">
              <div>#12.12 Nhắc Anh săn Freeship 0đ</div>
              <div>
                <a class="time-item" href="#"
                  >⏰ Đúng 12h voucher thêm lượt! 🌟 Thêm Voucher giảm đến 500K
                  🔥 VOUCHER cực sốc - Thần tốc săn ngay</a
                >
              </div>
              <div><p class="time-item">11:49 12-12-2020</p></div>
            </div>
            <div class="news-button"><button>Xem chi tiết</button></div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="Container-itwfbd-0 jFkAwY"
      style="height: 100px; padding-top: 32px"
    >
      <div class="NewsLetter-icon">
        <img
          src="https://frontend.tikicdn.com/_desktop-next/static/img/footer/newsletter.png"
          width="163"
          alt=""
        />
      </div>
      <div class="NewsLetter-description">
        <h3>Đăng ký nhận bản tin Side by Side</h3>
        <h5>Đừng bỏ lỡ hàng ngàn sản phẩm và chương trình siêu hấp dẫn</h5>
      </div>
      <div class="NewsLetter-form">
        <div>
          <input type="email" placeholder="Địa chỉ email của bạn" value="" />
        </div>
        <button>Đăng ký</button>
      </div>
    </div>
    <div class="Footer__Information-e3clg6-3 dZezzK">
      <div
        class="Container-itwfbd-0 jFkAwY"
        style="display: flex; justify-content: space-between"
      >
        <div class="block" style="width: 268px">
          <h4>HỖ TRỢ KHÁCH HÀNG</h4>
          <p class="hotline">
            Hotline chăm sóc khách hàng:
            <a href="tel:1900-6035">1900-6035</a
            ><span class="small-text">(1000đ/phút , 8-21h kể cả T7, CN)</span>
          </p>
          <a
            rel="noreferrer"
            href="https://hotro.tiki.vn/hc/vi"
            class="small-text"
            target="_blank"
            >Các câu hỏi thường gặp</a
          ><a
            rel="noreferrer"
            href="https://hotro.tiki.vn/hc/vi/requests/new"
            class="small-text"
            target="_blank"
            >Gửi yêu cầu hỗ trợ</a
          ><a
            rel="noreferrer"
            href="https://hotro.tiki.vn/hc/vi/categories/200126644"
            class="small-text"
            target="_blank"
            >Hướng dẫn đặt hàng</a
          ><a
            rel="noreferrer"
            href="https://hotro.tiki.vn/hc/vi/categories/200123960"
            class="small-text"
            target="_blank"
            >Phương thức vận chuyển</a
          ><a
            rel="noreferrer"
            href="https://tiki.vn/doi-tra-de-dang"
            class="small-text"
            target="_blank"
            >Chính sách đổi trả</a
          ><a
            rel="noreferrer"
            href="https://tiki.vn/chuong-trinh/dieu-kien-tra-gop"
            class="small-text"
            target="_blank"
            >Hướng dẫn trả góp</a
          ><a
            rel="noreferrer"
            href="https://hotro.tiki.vn/hc/vi/articles/360000822643"
            class="small-text"
            target="_blank"
            >Chính sách hàng nhập khẩu</a
          >
          <p class="security">
            Hỗ trợ khách hàng:
            <a href="mailto:hotro@tiki.vn">hotro@sidebyside.vn</a>
          </p>
          <p class="security">
            Báo lỗi bảo mật:
            <a href="mailto:security@tiki.vn">security@sidebyside.vn</a>
          </p>
        </div>
        <div class="block">
          <h4>VỀ Side by Side</h4>
          <a
            rel="noreferrer"
            href="https://tiki.vn/gioi-thieu-ve-tiki"
            class="small-text"
            target="_blank"
            >Giới thiệu sidebyside</a
          ><a
            rel="noreferrer"
            href="https://tuyendung.tiki.vn"
            class="small-text"
            target="_blank"
            >Tuyển Dụng</a
          ><a
            rel="noreferrer"
            href="https://tiki.vn/bao-mat-thanh-toan"
            class="small-text"
            target="_blank"
            >Chính sách bảo mật thanh toán</a
          ><a
            rel="noreferrer"
            href="https://tiki.vn/bao-mat-thong-tin-ca-nhan"
            class="small-text"
            target="_blank"
            >Chính sách bảo mật thông tin cá nhân</a
          ><a
            rel="noreferrer"
            href="https://hotro.tiki.vn/hc/vi/articles/115005575826"
            class="small-text"
            target="_blank"
            >Chính sách giải quyết khiếu nại</a
          ><a
            rel="noreferrer"
            href="https://hotro.tiki.vn/hc/vi/articles/201971214"
            class="small-text"
            target="_blank"
            >Điều khoản sử dụng</a
          ><a
            rel="noreferrer"
            href="https://hotro.tiki.vn/hc/vi/articles/201710754-Tiki-Xu-l%C3%A0-g%C3%AC-Gi%C3%A1-tr%E1%BB%8B-quy-%C4%91%E1%BB%95i-nh%C6%B0-th%E1%BA%BF-n%C3%A0o"
            class="small-text"
            target="_blank"
            >Giới thiệu Tiki Xu</a
          ><a
            rel="noreferrer"
            href="https://tiki.vn/chuong-trinh/ban-hang-doanh-nghiep"
            class="small-text"
            target="_blank"
            >Bán hàng doanh nghiệp</a
          >
        </div>
        <div class="block">
          <h4>HỢP TÁC VÀ LIÊN KẾT</h4>
          <a
            rel="noreferrer"
            href="https://tiki.vn/quy-che-hoat-dong-sgdtmdt"
            class="small-text"
            target="_blank"
            >Quy chế hoạt động Sàn GDTMĐT</a
          ><a
            rel="noreferrer"
            href="https://tiki.vn/ban-hang-cung-tiki"
            class="small-text"
            target="_blank"
            >Bán hàng cùng sidebyside</a
          >
        </div>
        <div class="block">
          <h4>PHƯƠNG THỨC THANH TOÁN</h4>
          <p>
            <img
              class="icon"
              src="https://frontend.tikicdn.com/_desktop-next/static/img/footer/visa.svg"
              width="54"
              alt=""
            /><img
              class="icon"
              src="https://frontend.tikicdn.com/_desktop-next/static/img/footer/mastercard.svg"
              width="54"
              alt=""
            /><img
              class="icon"
              src="https://frontend.tikicdn.com/_desktop-next/static/img/footer/jcb.svg"
              width="54"
              alt=""
            /><img
              class="icon"
              src="https://frontend.tikicdn.com/_desktop-next/static/img/footer/cash.svg"
              width="54"
              alt=""
            /><img
              class="icon"
              src="https://frontend.tikicdn.com/_desktop-next/static/img/footer/internet-banking.svg"
              width="54"
              alt=""
            /><img
              class="icon"
              src="https://frontend.tikicdn.com/_desktop-next/static/img/footer/installment.svg"
              width="54"
              alt=""
            />
          </p>
        </div>
        <div class="block">
          <h4>KẾT NỐI VỚI CHÚNG TÔI</h4>
          <p>
            <a
              rel="noreferrer"
              href="https://www.facebook.com/Side-by-Side-100311098633597"
              class="icon"
              target="_blank"
              title="Facebook"
              ><img
                src="https://frontend.tikicdn.com/_desktop-next/static/img/footer/fb.svg"
                width="32"
                alt="" /></a
            ><a
              rel="noreferrer"
              href="https://www.youtube.com/channel/UC_uV8IYP4XF8R0acsXfERAg?view_as=subscriber"
              class="icon"
              target="_blank"
              title="Youtube"
              ><img
                src="https://frontend.tikicdn.com/_desktop-next/static/img/footer/youtube.svg"
                width="32"
                alt="" /></a
            ><a
              rel="noreferrer"
              href="http://zalo.me/589673439383195103"
              class="icon"
              target="_blank"
              title="Zalo"
              ><i class="icon tikicon icon-footer-zalo"></i
            ></a>
          </p>
          <h4 class="store-title">TẢI ỨNG DỤNG TRÊN ĐIỆN THOẠI</h4>
          <p>
            <a
              rel="noreferrer"
              href="https://itunes.apple.com/vn/app/id958100553"
              class="icon"
              target="_blank"
              aria-label=""
              ><img
                src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/appstore.png"
                width="134"
                alt="" /></a
            ><a
              rel="noreferrer"
              href="https://play.google.com/store/apps/details?id=vn.tiki.app.tikiandroid"
              class="icon"
              target="_blank"
              aria-label=""
              ><img
                src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/playstore.png"
                width="134"
                alt=""
            /></a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
