<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
    />
    <link rel="stylesheet" href="../../../css/client/css-fix/style.css" />
    <link rel="stylesheet" href="../../../icons/css/fontello.css" />
    <script
      src="https://kit.fontawesome.com/978d2e326d.js"
      crossorigin="anonymous"
    ></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>

  <body>
    <header>
      <div class="header">
        <div class="logo">
          <a href="./index-fix.html"
            ><img src="../../../images/logo.png" alt=""
          /></a>
        </div>
        <div class="menu">
          <div class="menu-top">
            <div class="menu-top-list">
              <ul>
                <li><a href="#" class="a">Bán hàng cùng SBS</a></li>
                <li><a href="#" class="a">Chăm sóc khách hàng</a></li>
                <li><a href="#" class="a">Kiểm tra đơn hàng</a></li>
                <li><a href="#" class="a">Chế độ tối</a></li>
                <li><a href="#" class="a">Thay đổi ngôn ngữ</a></li>
              </ul>
            </div>
            <div class="menu-top-login">
              <p><a href="#">Đăng Nhập</a> <i class="icon-user-2"></i></p>
            </div>
          </div>
          <div class="menu-bottom">
            <div class="menu-bottom-category">
              <p>
                <a href="#" class="a1"
                  ><i class="icon-list-nested"></i> Danh mục</a
                >
              </p>
              <div class="hover">
                <div class="category">
                  <div class="category-hover">
                    <ul class="block-1">
                      <li>
                        <strong> Thiết bị di động</strong>
                        <span>
                          <i
                            class="fas fa-angle-right"
                            style="font-size: 18px"
                          ></i>
                        </span>
                      </li>
                      <li>
                        <strong>Điện tử - Điện lạnh </strong>
                        <span>
                          <i
                            class="fas fa-angle-right"
                            style="font-size: 18px"
                          ></i>
                        </span>
                      </li>
                      <li>
                        <strong>Phụ kiện - Thiết bị số </strong>
                        <span>
                          <i
                            class="fas fa-angle-right"
                            style="font-size: 18px"
                          ></i>
                        </span>
                      </li>
                      <li>
                        <strong>Laptop - Thiết bị IT </strong>
                        <span>
                          <i
                            class="fas fa-angle-right"
                            style="font-size: 18px"
                          ></i>
                        </span>
                      </li>
                      <li>
                        <strong>Điện gia dụng </strong>
                        <span>
                          <i
                            class="fas fa-angle-right"
                            style="font-size: 18px"
                          ></i>
                        </span>
                      </li>
                      <li>
                        <strong>Tiêu dùng - Thực phẩm </strong>
                        <span>
                          <i
                            class="fas fa-angle-right"
                            style="font-size: 18px"
                          ></i>
                        </span>
                      </li>
                      <li>
                        <strong>Mẹ và bé </strong>
                        <span>
                          <i
                            class="fas fa-angle-right"
                            style="font-size: 18px"
                          ></i>
                        </span>
                      </li>
                      <li>
                        <strong>Thời trang - Phụ kiện </strong>
                        <span>
                          <i
                            class="fas fa-angle-right"
                            style="font-size: 18px"
                          ></i>
                        </span>
                      </li>
                      <li>
                        <strong>Phụ nữ - Làm đẹp </strong>
                        <span>
                          <i
                            class="fas fa-angle-right"
                            style="font-size: 18px"
                          ></i>
                        </span>
                      </li>
                      <li>
                        <strong>Học tập </strong>
                        <span>
                          <i
                            class="fas fa-angle-right"
                            style="font-size: 18px"
                          ></i>
                        </span>
                      </li>
                      <li>
                        <strong>Thể thao - Dã ngoại </strong>
                        <span>
                          <i
                            class="fas fa-angle-right"
                            style="font-size: 18px"
                          ></i>
                        </span>
                      </li>
                      <li>
                        <strong>Y tế - Sức khỏe </strong>
                        <span>
                          <i
                            class="fas fa-angle-right"
                            style="font-size: 18px"
                          ></i>
                        </span>
                      </li>
                      <li>
                        <strong>Giao thông - di chuyển </strong>
                        <span>
                          <i
                            class="fas fa-angle-right"
                            style="font-size: 18px"
                          ></i>
                        </span>
                      </li>
                      <li>
                        <strong>Truyền thông - Giải trí </strong>
                        <span>
                          <i
                            class="fas fa-angle-right"
                            style="font-size: 18px"
                          ></i>
                        </span>
                      </li>
                      <li>
                        <strong>Voucher - Dịch vụ </strong>
                        <span>
                          <i
                            class="fas fa-angle-right"
                            style="font-size: 18px"
                          ></i>
                        </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="menu-bottom-search">
              <div class="menu-bottom-search-in">
                <input
                  type="text"
                  placeholder="Tìm kiếm sản phẩm, danh mục, đại lý..."
                /><a href="#"><i class="fas fa-search"></i></a>
                <hr />
              </div>
            </div>
            <div class="menu-bottom-cart">
              <i class="fas fa-shopping-cart"></i
              ><span class="shopping-number">0</span>
            </div>
          </div>
        </div>
      </div>
      <div class="container-px-0">
        <div class="cart">
          GIỎ HÀNG<span class="counting">(1 sản phẩm)</span>
        </div>
        <div class="content-pay">
          <div class="seperate-left">
            <div class="product-trading">
              <strong
                >Side by Side Trading <i class="fas fa-angle-right"></i
              ></strong>
            </div>
            <div class="information-product">
              <div class="image-product">
                <img src="../../../images/1.jpg" alt="" />
              </div>
              <div class="detail-product">
                <div class="detail-product-top">
                  <div class="detail-product-left">
                    <a class="item" href="#">
                      <span class="img"
                        ><img src="../../../images/logo.png" alt="" /></span
                      >Tai Nghe Nhét Tai Mi Basic Xiaomi HSEJ03JY - Hàng Chính
                      Hãng</a
                    >
                    <div class="word2">
                      <p class="ship-quickly">Hàng Giao 2H</p>
                    </div>
                    <div class="word2">
                      <span class="del">Xóa</span
                      ><span class="for-after">Để dành mùa sau</span>
                    </div>
                  </div>
                  <div class="detail-product-right">
                    <div class="price-item">
                      <h4>2.850.000</h4>
                      <h6><del>3.690.000</del> -23%</h6>
                    </div>
                    <div class="number"></div>
                  </div>
                </div>
                <div class="detail-product-bottom"></div>
              </div>
            </div>
          </div>
          <div class="seperate-right">
            <div class="detail-product-bottom-item">
              <span><strong>Địa chỉ nhận hàng</strong></span
              ><span class="change"><a href="#">Thay đổi</a> </span>
              <div class="word"><p>Lê Hữu Quân / 0123456789</p></div>
              <div class="word1">
                <p>1/19 Cu Chinh Lan, Phường 13, Quận Tân Bình, Hồ Chí Minh</p>
              </div>
            </div>
            <div class="detail-product-bottom-item">
              <div class="sale-code">
                <span class="sale1">Mã Khuyến Mãi</span>
                <span class="sale2"
                  >Có thể chọn 2
                  <span
                    ><img
                      class="icon"
                      src="https://frontend.tikicdn.com/_desktop-next/static/img/mycoupon/icons-info-gray.svg"
                      alt="info"
                    />
                  </span>
                </span>
              </div>
              <div class="word3">
                <p>
                  <a href="#"
                    ><span
                      ><img
                        src="https://frontend.tikicdn.com/_desktop-next/static/img/mycoupon/coupon_icon.svg"
                    /></span>
                    Chọn hoặc nhập khuyễn mãi</a
                  >
                </p>
              </div>
            </div>
            <div class="detail-product-bottom-item">
              <div class="word">
                <span>Tạm Tính</span><span>2.850.000đ</span>
              </div>
              <hr />
              <div class="word">
                <span>Thành Tiền</span><span>2.850.000đ</span>
              </div>
              <div><span>(Đã bao gồm thuế VAT nếu có)</span></div>
            </div>
            <button class="bought">Tiến hành đặt hàng</button>
          </div>
        </div>
        <div
          class="Container-itwfbd-0 jFkAwY"
          style="display: flex; height: 100px; padding-top: 32px"
        >
          <div class="NewsLetter-icon">
            <img
              src="https://frontend.tikicdn.com/_desktop-next/static/img/footer/newsletter.png"
              width="163"
              alt=""
            />
          </div>
          <div class="NewsLetter-description">
            <h3>Đăng ký nhận bản tin Side by Side</h3>
            <h5>Đừng bỏ lỡ hàng ngàn sản phẩm và chương trình siêu hấp dẫn</h5>
          </div>
          <div class="NewsLetter-form">
            <div>
              <input
                type="email"
                placeholder="Địa chỉ email của bạn"
                value=""
              />
            </div>
            <button>Đăng ký</button>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
