<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .section {
        padding: 10px;
        background: yellow;
        display: none;
      }
      .section.active {
        display: block;
      }
      .btn.active {
        background: red;
      }
    </style>
    <img
      id="e_itexpress_left"
      src="https://itexpress.vn/images/noel/topleft.png"
    />
    <img
      id="e_itexpress_right"
      src="https://itexpress.vn/images/noel/topright.png"
    />
    <div id="e_itexpress_footer"></div>
    <img
      id="e_itexpress_bottom_left"
      src="https://itexpress.vn/images/noel/bottomleft.png"
    />
  </head>
  <body>
    <button class="btn active" onclick="changeTab(0)">Tab 1</button>
    <button class="btn" onclick="changeTab(1)">Tab 2</button>
    <button class="btn" onclick="changeTab(2)">Tab 3</button>
    <div class="section active">
      <h1>Section 1</h1>
    </div>
    <div class="section">
      <h1>Section 2</h1>
    </div>
    <div class="section">
      <h1>Section 3</h1>
    </div>
    <script>
      function changeTab(index) {
        document.querySelector(".section.active").classList.remove("active");
        document.querySelectorAll(".section")[index].classList.add("active");
        document.querySelector(".btn.active").classList.remove("active");
        document.querySelectorAll(".btn")[index].classList.add("active");
      }
    </script>
  </body>
  <script type="text/javascript" src="https://itexpress.vn/js/noel.js"></script>
  <script type="text/javascript">
    var no = 100;
    var hidesnowtime = 0;
    var snowdistance = "pageheight";
    var ie4up = document.all ? 1 : 0;
    var ns6up = document.getElementById && !document.all ? 1 : 0;
    function iecompattest() {
      return document.compatMode && document.compatMode != "BackCompat"
        ? document.documentElement
        : document.body;
    }
    var dx, xp, yp;
    var am, stx, sty;
    var i,
      doc_width = 800,
      doc_height = 600;
    if (ns6up) {
      doc_width = self.innerWidth;
      doc_height = self.innerHeight;
    } else if (ie4up) {
      doc_width = iecompattest().clientWidth;
      doc_height = iecompattest().clientHeight;
    }
    dx = new Array();
    xp = new Array();
    yp = new Array();
    am = new Array();
    stx = new Array();
    sty = new Array();
    for (i = 0; i < no; ++i) {
      dx[i] = 0;
      xp[i] = Math.random() * (doc_width - 50);
      yp[i] = Math.random() * doc_height;
      am[i] = Math.random() * 20;
      stx[i] = 0.02 + Math.random() / 10;
      sty[i] = 0.7 + Math.random();
      if (ie4up || ns6up) {
        document.write(
          '<div id="dot' +
            i +
            '" style="POSITION:absolute;Z-INDEX:' +
            i +
            ';VISIBILITY:visible;TOP:15px;LEFT:15px;"><span style="font-size:18px;color:#fff">*</span></div>'
        );
      }
    }
    function snowIE_NS6() {
      doc_width = ns6up
        ? window.innerWidth - 10
        : iecompattest().clientWidth - 10;
      doc_height =
        window.innerHeight && snowdistance == "windowheight"
          ? window.innerHeight
          : ie4up && snowdistance == "windowheight"
          ? iecompattest().clientHeight
          : ie4up && !window.opera && snowdistance == "pageheight"
          ? iecompattest().scrollHeight
          : iecompattest().offsetHeight;
      for (i = 0; i < no; ++i) {
        yp[i] += sty[i];
        if (yp[i] > doc_height - 50) {
          xp[i] = Math.random() * (doc_width - am[i] - 30);
          yp[i] = 0;
          stx[i] = 0.02 + Math.random() / 10;
          sty[i] = 0.7 + Math.random();
        }
        dx[i] += stx[i];
        document.getElementById("dot" + i).style.top = yp[i] + "px";
        document.getElementById("dot" + i).style.left =
          xp[i] + am[i] * Math.sin(dx[i]) + "px";
      }
      snowtimer = setTimeout("snowIE_NS6()", 10);
    }
    function hidesnow() {
      if (window.snowtimer) {
        clearTimeout(snowtimer);
      }
      for (i = 0; i < no; i++)
        document.getElementById("dot" + i).style.visibility = "hidden";
    }
    if (ie4up || ns6up) {
      snowIE_NS6();
      if (hidesnowtime > 0) setTimeout("hidesnow()", hidesnowtime * 1000);
    }
  </script>
</html>
